{% extends "base.html" %}

{% block app_content %}
    <h2>{{ archaic_analysis_run.name}}</h2>
    {% if archaic_analysis_run.description %}
        <p>{{ archaic_analysis_run.description }}
    {% endif %}
    {% if archaic_analysis_run.publication_doi %}
        <a href="{{ archaic_analysis_run.publication_url }}">{{ archaic_analysis_run.publication_doi }}</a>
    {% endif %}
    </td>
    <dl>
        <dt>Samples with data</dt>
        <dd>{{ archaic_analysis_run.samples_with_data_count }}</dd>
        <dt>Samples missing data</dt>
        <dd>{{ archaic_analysis_run.samples_without_data_count }}</dd>
    </dl>
    <h3>Samples with run data</h3>
    <table class="table table-hover">
        <tr>
            <th>Code</th>
            <th>Family Code</th>
            <th>Population</th>
        </tr>
        {% for sample in archaic_analysis_run.samples_with_data %}
            <tr>
                <td><a href="{{ url_for('main.sample', id=sample.id)}}">{{ sample.code }}</a></td>
                <td>{{ sample.family_code }}</td>
                <td><a href="{{ url_for('main.population', id=sample.population.id)}}">{{ sample.population.code }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
