{% extends "base.html" %}

{% block app_content %}
    <h2>Super Populations</h2>
    <table class="table table-hover">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Populations</th>
            <th>Samples</th>
        </tr>
        {% for sp in super_populations %}
            <tr>
                <td><a href="{{ url_for('main.super_population', id=sp.id)}}">{{ sp.code }}</a></td>
                <td><a href="{{ url_for('main.super_population', id=sp.id)}}">{{ sp.name }}</a></td>
                <td><a href="{{ url_for('main.super_population', id=sp.id)}}">{{ sp.population_count }}</a></td>
                <td><a href="{{ url_for('main.super_population', id=sp.id)}}">{{ sp.samples()|length }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
