{% extends "base.html" %}

{% block app_content %}
    <h2>{{ sample.code }}</h2>
    <p>Population:<a href="{{ url_for('main.population', id=sample.population.id) }}">
        {{ sample.population.code }}: {{ sample.population.description }}</a></p>
    <p> Population Groups:</p>
        {% for super_population in sample.population.super_populations %}
            <p><a href="{{ url_for('main.super_population', id=super_population.id) }}">
                {{ super_population.code }}: {{ super_population.name }}</a> - {{ super_population.data_source.name }}</p>
        {% endfor %}
    <dl>
        <dt>Family ID</dt>
        <dd>{{ sample.family_code }}</dd>
        <dt>Gender</dt>
        <dd>{{ sample.gender }}</dd>
        <dt>Family Relationship</dt>
        <dd>{{ sample.family_relationship }}</dd>
        <dt>Other Comments</dt>
        <dd>{{ sample.comments }}</dd>
    </dl>
    <h3>Archaic Genome Data</h3>
    <table class="table table-hover">
        <tr>
            <th>Archaic Analysis Run</th>
            <th>Archaic Genome Call</th>
            <th>Haplotype Number</th>
            <th>Total BPs</th>
            <th>Number of Regions</th>
            <th>BED File</th>
        </tr>
        {% for archaic_genome_data in sample.archaic_genome_data %}
            <tr>
                <td><a href="{{ url_for('main.archaic_analysis_run', id=archaic_genome_data.archaic_analysis_run.id) }}">{{ archaic_genome_data.archaic_analysis_run.name }}</a></td>
                <td>{{ archaic_genome_data.archaic_genome_call }}</td>
                <td>{{ archaic_genome_data.haplotype }}</td>
                <td>{{ "{:,}".format(archaic_genome_data.total_bps) }}</a></td>
                <td>{{ "{:,}".format(archaic_genome_data.total_haplotypes) }}</a></td>
                <td><a href="{{ url_for('main.archaic_genome_data_bed_file', id=archaic_genome_data.id) }}">{{ archaic_genome_data.bed_file | basename }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
