{% extends "base.html" %}

{% block app_content %}
    <h2>{{ sample.code }}</h2>
    <p>Population:<a href="{{ url_for('main.population', id=sample.population.id) }}">
        {{ sample.population.code }}: {{ sample.population.description }}</a></p>
    <p> Population Groups:</p>
        {% for super_population in sample.population.super_populations %}
            <p><a href="{{ url_for('main.super_population', id=super_population.id) }}">
                {{ super_population.code }}: {{ super_population.name }}</a> - {{ super_population.data_source.name }}</p>
        {% endfor %}
    <dl>
        <dt>Family ID</dt>
        <dd><a href="">{{ sample.family_code }}</a></dd>
        <dt>Gender</dt>
        <dd>{{ sample.gender }}</dd>
        <dt>Family Relationship</dt>
        <dd>{{ sample.family_relationship }}</dd>
        <dt>Other Comments</dt>
        <dd>{{ sample.comments }}</dd>
    </dl>
    <h3>Archaic Genome Data</h3>
    <table class="table table-hover">
        <tr>
            <th>Archaic Analysis Run</th>
            <th>Neadertal BPs</th>
            <th>Neadertal Haplotypes</th>
            <th>Neadertal SStar bed file</th>
            <th>Denisovan BPs</th>
            <th>Denisovan Haplotypes</th>
            <th>Denisovan SStar bed file</th>
        </tr>
        {% for archaic_genome_data in sample.archaic_genome_data %}
            <tr>
                <td><a href="{{ url_for('main.archaic_analysis_run', id=archaic_genome_data.archaic_analysis_run.id) }}">{{ archaic_genome_data.archaic_analysis_run.name }}</a></td>
                <td>{{ archaic_genome_data.neandertal_bp }}</a></td>
                <td>{{ archaic_genome_data.neandertal_haplotypes }}</td>
                <td>{{ archaic_genome_data.neandertal_sstar_bed }}</td>
                <td>{{ archaic_genome_data.denisovan_bp }}</a></td>
                <td>{{ archaic_genome_data.denisovan_haplotypes }}</td>
                <td>{{ archaic_genome_data.denisovan_sstar_bed }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
